Package: com.naken.lai
Name: Lai
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: WeChat Robot for Lai
Maintainer: snakeninny
Author: snakeninny
Section: Tweaks
Homepage: http://iosre.com
